<div class="w-100">
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Busqueda</mat-label>
        <input matInput>
    </mat-form-field>
</div>
<div class="col-md-12 justify-content-center row col-xxxl-12">
    <mat-card style="width: 20rem;" class="col-xxxl-12 m-1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre Empresa</mat-card-title>
          <mat-card-subtitle>categoría empleo</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo animi minus reprehenderit. Hic, aliquam debitis, 
          </p>
          <br>
          <span>REQUISITOS:</span>
          <ul>
            <li>descripción 1</li>
            <li>descripción 1</li>
            <li>descripción 1</li>
            <li>descripción 1</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card style="width: 20rem;" class="col-xxxl-12 m-1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre Empresa</mat-card-title>
          <mat-card-subtitle>categoría empleo</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo animi minus reprehenderit. Hic, aliquam debitis, 
          </p>
          <br>
          <span>REQUISITOS:</span>
          <ul>
            <li>descripción 1</li>
            <li>descripción 1</li>
            <li>descripción 1</li>
            <li>descripción 1</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>
    </mat-card>
    <mat-card style="width: 20rem;" class="col-xxxl-12 m-1">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nombre Empresa</mat-card-title>
          <mat-card-subtitle>categoría empleo</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo animi minus reprehenderit. Hic, aliquam debitis, 
          </p>
          <br>
          <span>REQUISITOS:</span>
          <ul>
            <li>descripción 1</li>
            <li>descripción 1</li>
            <li>descripción 1</li>
            <li>descripción 1</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
        </mat-card-actions>
    </mat-card>
</div>